header {
    grid-row:1;
    grid-column: 4/10;
    display: flex;
    /* margin: 0 auto; */
    align-items:center;
    justify-content:space-around;
}

nav ul li{
    display: inline-block;
    padding: 10px; 
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Markazi Text', 'Karla';
    font-size: 18px;
    padding: 5px;


}

a:hover{
    border: 1px;
    background-color: #495E57;
    color: white;
}
a:active{
    border: 1px;
    background-color: #F4CE14;
    color: black; 
}


  @media screen and (max-width:768px) {
    nav ul {
        display: none;
    }
  }