body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-family: 'Markazi Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 0.1fr 3.9fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}


h1,
h2,
h3,
h4,
h5 and h6 {
  font-family: 'Markazi Text', 'Karla';
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.title-text {
  font-size: 64px;
}

.subtitle-text {
  font-size: 40px;
}

.medium-text {
  font-size: 18px;
}

.paragraph-text, span{
  font-family: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

@media screen and (max-width:768px) {
  .container {
    height: 50vh;
  }
}