body {
  margin: 0;
  font-family: 'Markazi Text', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-rows: 0.1fr 3.9fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}


@media screen and (max-width:768px) {
  .container{
    height: 50vh;
  }
}